@* /****************************************************************
 *Name: Congyan Peng, Jubril Somide, Samuel Anowai, Tan Ly
 *date: 12/15/2023
 *Program Description: This is a learning management system app
 *
 ****************************************************************/
 *@

@page "/"

<h1>Hello, admin!</h1>

Welcome to School Management System
